extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
  - let teslaid = toShow._id 
  - let Model = toShow.Model 
  - let Year = toShow.Year 
  - let Price = toShow.Price
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{teslaid} 
  - let actionid = "/resource/tesla/" + teslaid 
  form(id='CostumeForm', action= actionid, method="PUT") 
    div.form-group 
        label(for='Model') Tesla type 
        input#Model(type='text', name='Model', value= Model ) 
    div.form-group 
        label(for='Year') Tesla Year 
        input#Year(type='text', name='Year', value=Year ) 
    div.form-group 
        label(for='Price') Tesla Price 
        input#Price(type='number', name='Price', value= Price ) 
    input(type="submit") 
 
  script. 
    document.forms['CostumeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 